body            
{
    margin:auto;
    width:1024px;
    padding:10px;
    background-color:#ebebeb;
    font-size:14px;
    font-family:Verdana;
}

.main-navbar{
  display: flex;
  justify-content:space-around;
 
}

.main-navbar-item{
  background-color: aliceblue;
  border: 5px solid salmon;
}