@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: hotpink;
  padding: 0px;
  font-size: 32px;
  font-family:Verdana;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
  position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

html {
  min-height: 100%;
  position: relative;
}

.main-navbar{
  display: grid;
  grid-column: 1;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  background-color: palevioletred;
  
}


.main-navbar-item{

  padding: 5px;
  border: none;
  border-radius: 10%;
  color: black;
  
}

